backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)
media_folder: public/img
public_folder: img
collections:
  - name: "blog"
    label: "Blog"
    folder: "blog/"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "blog" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Featured Image", name: "thumbnail", widget: "image" }
      - { label: "Rating (scale of 1-5)", name: "rating", widget: "number" }
      - { label: "Body", name: "body", widget: "markdown" }

        # - { label: "Title", name: "title", widget: "string"}
        # - { label: "Publish Date", name: "date", widget: "datetime" }
        # - { label: "Body", name: "body", widget: "markdown"}
        # - label: 'Posts'
        #   name: "post"
        #   widget: list
        #   fields:
        #     - { label: "Name", name: "name", widget: "string"}
        #     - { label: "Description", name: "description", widget: "text"}
            